<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43456823173-hjcqdnjgbphlac3skq33oujd018ul7e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43456823173-hjcqdnjgbphlac3skq33oujd018ul7e5</string>
	<key>API_KEY</key>
	<string>AIzaSyDlZmNY6XXkYmu6O3G4nixk7Ifz_Gr_JoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>43456823173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.burakBasciWebsite</string>
	<key>PROJECT_ID</key>
	<string>burak-basci-website</string>
	<key>STORAGE_BUCKET</key>
	<string>burak-basci-website.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43456823173:ios:44071c255f8f9ae0ca8eec</string>
</dict>
</plist>